[submodule "eShopOnWeb"]
	path = eShopOnWeb
	url = https://github.com/peterhack/eShopOnWeb
[submodule "eShopOnContainers"]
	path = eShopOnContainers
	url = https://github.com/peterhack/eShopOnContainers
